<div class="link-new">
	<div class="link-new-text">
		<h1>Post a New Product</h1>
	</div>
	<div class="link-new-form">
		<%= render 'form' %>
	</div>
		<!--<%= link_to 'Back', links_path %> -->
</div>